**THEORY QUESTIONS**

1. What are data structures, and why are they important?

ANSWER- A data structure is a way of organizing and storing data in a computer so that it can be accessed and used efficiently. It refers to the logical or mathematical representation of data, as well as the implementation in a computer program.

2. Explain the difference between mutable and immutable data types with examples

ANSWER- Mutable data types can be changed after creation, means we can alter their contents without creating a new object; for example, a list my_list = [1, 2, 3] can be modified by my_list[0] = 10. Immutable data types cannot be changed once created, so any “modification” creates a new object; for example, a string s = "hello" cannot be altered in place

3. What are the main differences between lists and tuples in Python

ANSWER- The main differences between lists and tuples in Python are: mutability (lists are mutable, tuples are immutable), syntax (lists use [], tuples use ()), performance (tuples are slightly faster and use less memory due to immutability), and usage (lists are preferred for dynamic, changeable data, while tuples are used for fixed, constant data

4. Describe how dictionaries store data

ANSWER- Dictionaries store data as key–value pairs in a hash table, where each key is passed through a hash function to generate a hash value where the corresponding value is stored

5. Why might you use a set instead of a list in Python

ANSWER-  We might use a set instead of a list in Python when we need to store only unique elements, or use set operations like union, intersection, and difference


6. What is a string in Python, and how is it different from a list

ANSWER- string is an immutable sequence of Unicode characters used to represent text, while a list is a mutable sequence that can hold elements of any data type; unlike lists, strings cannot be modified in place, store only characters, and support text-specific operations like .upper() or .split(), whereas lists allow item reassignment, insertion, and deletion.

7. How do tuples ensure data integrity in Python

ANSWER- Tuples ensure data integrity in Python by being immutable, meaning their contents cannot be altered after creation, which prevents accidental changes.

8. What is a hash table, and how does it relate to dictionaries in Python

ANSWER- A hash table is a data structure that stores key–value pairs by applying a hash function to each key to determine its storage location in memory, enabling fast lookups, insertions, and deletions, which is why dictionary lookups are generally much faster than searching through a list.

9. Can lists contain different data types in Python

ANSWER- Yes, lists in Python can contain elements of different data types, such as integers, strings, floats, or even other lists and objects

10.  Explain why strings are immutable in Python

ANSWER- Strings are immutable in Python because once a string is created, its contents cannot be changed

11. What advantages do dictionaries offer over lists for certain tasks

ANSWER- Dictionaries are faster than lists, allow storing data as key–value pairs for more meaningful access, make it easy to map unique identifiers to data without searching through indexes, and handle better than lists

12. Describe a scenario where using a tuple would be preferable over a list

ANSWER- A tuple is preferable over a list when we need to store fixed, unchangeable data that should remain constant throughout the program, such as coordinates (x, y) because tuples are immutable and list are mutable

13. How do sets handle duplicate values in Python3

ANSWER- sets automatically remove duplicate values because they are implemented as hash tables where each element must be unique

14.  How does the “in” keyword work differently for lists and dictionaries

ANSWER-  For lists, the in keyword checks whether a given value exists among the lists elements, scanning sequentially until it finds a match. For dictionaries, in checks whether the given value exists as a key by looking it up in the hash table

15. Can you modify the elements of a tuple? Explain why or why not

ANSWER- No, we cannot modify the elements of a tuple because tuples in Python are immutable, meaning that once they are created, their elements and order cannot be changed

16.  What is a nested dictionary, and give an example of its use case

ANSWER- A nested dictionary is a dictionary where some values are themselves dictionaries, allowing storage of hierarchical or multi-level data. OR we can say a dictionary within another dictionary
students = {
    "101": {"name": "Alice", "age": 20, "marks": {"math": 85, "science": 90}},
    "102": {"name": "Bob", "age": 21, "marks": {"math": 78, "science": 88}}
}

17. Describe the time complexity of accessing elements in a dictionary

ANSWER- average time complexity of O(1) because dictionaries use a hash table.
 In the worst case O(n)

18. In what situations are lists preferred over dictionaries

ANSWER-Lists are preferred over dictionaries when the data is naturally ordered by position, when there is need of fast index based access when the elements don’t need unique keys, when want to store duplicate values etc.


19.Why are dictionaries considered unordered, and how does that affect data retrieval

ANSWER- Dictionaries are called unordered because the way they store key-value pairs is based on hashing, not on the sequence in which we add them.
therefore they are unordered collection of key value pairs.

it also affect the data retrieval as due to unordered collection of key value pairs they cannot be access with indexes like lists whereas it is accessible through the keys and the order of the keys is also independent.


20. Explain the difference between a list and a dictionary in terms of data retrieval.

ANSWER- a list uses numeric indices to access elements, so finding an item by value requires scanning the list, while a dictionary uses unique keys mapped through a hash table, allowing direct access to values without searching through all elements.

**PRACTICAL QUESTIONS**

In [ ]:
# 1. Write a code to create a string with your name and print it

string='JASDEEP SINGH'
print(string)

JASDEEP SINGH

In [ ]:
#2. Write a code to find the length of the string "Hello World"P

string='Hello World'
print(len(string))

11

In [ ]:
#3. Write a code to slice the first 3 characters from the string "Python Programming"

string="Python Programming"
print(string[0:3])

Pyt

In [ ]:
#4. Write a code to convert the string "hello" to uppercase

string="hello"
print(string.upper())

HELLO

In [ ]:
#5. Write a code to replace the word "apple" with "orange" in the string "I like apple"

string="I like apple"
print(string.replace("apple","orange"))

I like orange

In [ ]:
#6. Write a code to create a list with numbers 1 to 5 and print it

list=[1,2,3,4,5]
print(list)

[1, 2, 3, 4, 5]

In [ ]:
#7. Write a code to append the number 10 to the list [1, 2, 3, 4]

list=[1,2,3,4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

In [ ]:
#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

list=[1,2,3,4,5]
list.remove(3)
print(list)

[1, 2, 4, 5]

In [ ]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']

list=['a','b','c','d']
print(list[1])

b

In [ ]:
#10. Write a code to reverse the list [10, 20, 30, 40, 50].

list=[10,20,30,40,50]
list.reverse()
print(list)

[50, 40, 30, 20, 10]

In [ ]:
#11. Write a code to create a tuple with the elements 100, 200, 300 and print it

tup=(100,200,300)
print(tup)

(100, 200, 300)

In [ ]:
#12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

tup=('red','green','blue','yellow')
print(tup[1:])

('green', 'blue', 'yellow')

In [ ]:
#13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

tup=(10, 20, 5, 15)
print(min(tup))

5

In [ ]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

tup=('dog', 'cat', 'rabbit')
ind=tup.index('cat')
print(ind)

1

In [ ]:
#15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it

tuple=('orange','apple','kiwi')
fruit='kiwi'
if fruit in tuple:
  print("fruit found")
else:
  print("fruit not found")

fruit found

In [ ]:
#16.  Write a code to create a set with the elements 'a', 'b', 'c' and print it

set1={'a', 'b', 'c'}
print(set1)

{'a', 'c', 'b'}

In [ ]:
#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

set1={1, 2, 3, 4, 5}
cl=set1.clear()
print(set1)

set()

In [ ]:
#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}

set1={1, 2, 3, 4}
a=set1.remove(4)
print(set1)

{1, 2, 3}

In [ ]:
#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

set1={1, 2, 3}
set2={3, 4, 5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

In [ ]:
#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

set1={1, 2, 3}
set2={2, 3, 4}
print(set1.intersection(set2))

{2, 3}

In [ ]:
#21.Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

name=input("enter your name:")
age=int(input("Enter your age :"))
city=input("enter your city:")
dict={"name":name,"age":age,"city":city}
print(dict)

enter your name:jasdeep
Enter your age :20
enter your city:delhi
{'name': 'jasdeep', 'age': 20, 'city': 'delhi'}

In [ ]:
#22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

dict={'name': 'John', 'age': 25}
dict['country']='USA'
print(dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
#23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}

dict={'name': 'Alice', 'age': 30}
print(dict['name'])

Alice

In [ ]:
#24.  Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

dict={'name': 'Bob', 'age': 22, 'city': 'New York'}
print(dict.pop('age'),"age is removed")
print(dict)

22 age is removed
{'name': 'Bob', 'city': 'New York'}

In [ ]:
#25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

dict={'name': 'Alice', 'city': 'Paris'}
if "city" in dict:
  print("Yes, the city exists")
else:
  print("No, the city doesn't exist")

Yes, the city exists

In [ ]:
#26.  Write a code to create a list, a tuple, and a dictionary, and print them all.
name=input("enter your name:")
age=int(input("enter your age:"))
city=input("enter your city:")
lst=[name,age,city]
tup=(name,age,city)
dict={"name":name,"age":age,"city":city}
print("LIST :", lst)
print("TUPLE :", tup)
print("DICTIONARY :", dict)

enter your name:jasdeep
enter your age:20
enter your city:delhi
LIST : ['jasdeep', 20, 'delhi']
TUPLE : ('jasdeep', 20, 'delhi')
DICTIONARY : {'name': 'jasdeep', 'age': 20, 'city': 'delhi'}

In [ ]:
#27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

import random
random_num=[]
for i in range(5):
  random_num.append(random.randint(1,100))
random_num.sort()
print(random_num)

[5, 51, 66, 95, 98]

In [ ]:
#28.  Write a code to create a list with strings and print the element at the third index.

str1=input("enter a string")
str2=input("enter a string")
str3=input("enter a string")
str4=input("enter a string")
str5=input("enter a string")
str6=input("enter a string")
lst=[str1,str2,str3,str4,str5,str6]
print("The list of strings:",lst)
print(lst[3])

enter a stringjas
enter a stringdeep
enter a stringsingh
enter a stringsandhu
enter a stringnov
enter a stringdec
The list of strings: ['jas', 'deep', 'singh', 'sandhu', 'nov', 'dec']
sandhu

In [ ]:
#29. Write a code to combine two dictionaries into one and print the result

d1 = {'hello': 1, 'bye': 2}
d2 = {'bye': 3, 'gm': 4}
d1.update(d2)
print(d1)

{'hello': 1, 'bye': 3, 'gm': 4}

In [ ]:
#30.Write a code to convert a list of strings into a set.

list=[10,20,30,40,50]
print("set of the above list is:")
print(set(list))

set of the above list is:
{40, 10, 50, 20, 30}